/* ************************************************  GENERAL   ***************/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
}
 
a{
  text-decoration: none;
}

/* ***************************************** TOP BLOCK ********************* */

.top-block{
  background-color: black;
  height: 80px;
}

.top-block div{
  align-items: center;
  justify-content: end;
}

.top-block span{
  background-color: #4a4a4a;
  margin: 8px;
  padding: 5px;
  color: white;
}

/* ****************************************** MAIN ************************** */

main{
  background-color: black;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow-y: auto;
  height: calc(100vh - 160px);
  
}

.card{
  border: 1px solid black;
  margin-bottom: 20px;
  margin-right: 5px;
  position: relative;
}

.card img{
  height: 150px;
  width: 250px;
}

.position{
  bottom: 0;
  left:0;
  padding: 5px;
  position: absolute;
  background-color: rgba(0, 0, 0, .3);
}

.position span{
  color: white;
}

/* ***************************************** BOT BLOCK */


.bot-block{
  background-color: #222222;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.bot-block span{
  color: white;
  font-size: 2rem;
}

.bot-block i {
  color: white;
}

.setting div{
  margin-left: 20px;
  margin-right: 20px;
}

.setting{
  justify-content: center;
  align-items: center;
}

.setting div{
  flex-direction: column;
  align-items: center;
}

#share{
  color:#4ac800;
}

.exit{
  line-height: 80px;
  background-color: #4a4a4a;
  padding: 0 15px;

}

.exit a{
  color:#d12d17;
}