/* ************************************************  GENERAL   ***************/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex{
  display: flex;
}
 
/* ***************************************** TOP BLOCK ********************* */

.top-block{
  background-color: black;
  height: 80px;
}

.top-block div{
  align-items: center;
  justify-content: end;
}

.top-block span{
  background-color: #4a4a4a;
  margin: 8px;
  padding: 5px;
  color: white;
}

/* ****************************************** MAIN ************************** */

main{
  background-color: black;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  overflow-y: auto;
  height: calc(100vh - 160px);
  
}

.card{
  border: 1px solid black;
  margin-bottom: 20px;
  margin-right: 5px;
}

.card img{
  height: 150px;
  width: 250px;
}

/* ***************************************** BOT BLOCK */

.bot-block{
  background-color: cadetblue;
  height: 80px;
}